<section class="lowlight sectioned row">
	<div class="container">
		<div class="span6">
			<h2>Our Approach</h2>
			<p>We embrace the agile ethos for delivering software. From a lean, test-driven approach, where not a single line of code is written without purpose, to tightly honed features, carefully written by listening and understanding you, and your customers.</p>
			<p>Our staples include:</p>
			<ul>
				<li>Test-driven development</li>
				<li>Weekly delivery</li>
				<li>Tightly scoped requirements</li>
				<li>Isolation of functionality</li>
				<li>A focus on value</li>
				<li>A focus on customer behaviour</li>
				<li>Constant interaction with the client</li>
				<li>Lean Development</li>
			</ul>
		</div>
		<div class="slider-wrapper theme-dsrbl span6">
		   	
		</div>
	</div>
</section>