<section class="lowlight sectioned row">
	<div class="container">
		<div class="span6">
			<h2>Desirable Objects Ltd</h2>
			<div class="vcard">
				<p class="adr">
				<span class="number">901 Baltic Quay</span><br />
				<span class="street">Sweden Gate</span><br />
				<span class="area">Surrey Quays</span><br />
				<span class="county">London</span><br />
				<span class="country-name">SE16 7TL</span><br />
				<span class="country">England</span>
				</p>
				<p class="tel">+44703 198 8111</p>
			</div>
		</div>
		<div class="slider-wrapper theme-dsrbl span6">
		    <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.49371,-0.035129&zoom=16&format=png&sensor=false&size=400x300&maptype=roadmap&style=feature:road|hue:0x00c3ff|invert_lightness:true" title="map" alt="map" class="nicely-rounded" />
		</div>
	</div>
</section>