<section class="lowlight sectioned row">
	<div class="container">
		<div class="span6 spaced-right">
			<h2>Our Clients</h2>
			<p>We are proud to hold clients in a variety of industry sectors. These include, but are not limited to Financial Services, Accountancy, Broadcasting, Telecoms, Entertainment, Online Gaming, Digital Marketing, Media and Design.</p>
			<p>We pride ourselves in providing you with robust, future-proof, reliable software which meets your needs and expectations exactly. Delivering on time is just the icing on the cake. Read about <a href="#/approach">how we do it</a>.</p>
		</div>
		<div class="slider-wrapper theme-dsrbl span6">
		    <div id="slider" class="nivoSlider">
                <img src="img/splendid-pane.png" data-thumb="img/splendid-pane.png" />
		    	<img src="img/o2-pane.png" data-thumb="img/o2-pane.png" />
		    	<img src="img/seatwave-pane.png" data-thumb="img/seatwave-pane.png" />
		    	<img src="img/sky-pane.png" data-thumb="img/sky-pane.png" />
		    	<img src="img/lsm-pane.png" data-thumb="img/lsm-pane.png" />
		    </div>
		</div>
	</div>
</section>