<section class="lowlight sectioned row">
	<div class="container">
		<div class="span6">
			<h2>Our Technologies</h2>
			<p>Desirable Objects holds a strong affinity with the open source world. A large number of contributions spanning a variety of open source projects has, and continues to allow us to reap what we sew.</p>
			<p>It's true that the correct tool for the job should always be chosen, and often that choice comes down to a few key technologies we consider to be the best options currently available. These technologies include, but are not limited to <a href="http://grails.org">Grails</a>, <a href="http://gradle.org">Gradle</a>, <a href="Groovy">Groovy</a>, <a href="http://spockframework.org">Spock</a>, and <a href="http://gebish.org">Geb</a>.</p>
			<p>Production quality tools are no good without production quality platforms, so a variety of <a href="http://debian.org">Debian</a> based <a href="http://kernel.org">Linux</a> distributions are used on the Server-side as well as the Desktop.</p>
		</div>
		<div class="slider-wrapper theme-dsrbl span6">
		   	
		</div>
	</div>
</section>